html,body{
    height: 100%;
    margin:0;
    padding:0;
}
h1,h3,h2,h4{
    color: #FAFAFA !important;
}
p{
    font-family: 'Poor Story', cursive;
    font-size: 20px;
    color: #FAFAFA;
    line-height: 35px;
}
.back{
	min-width: 100%;
	min-height: 100%;
    padding: 0px !important;
    margin: 0 auto; 
    bottom: 0px;
    background-color: #1B1B1B;
}
.intro{
    min-width: 100%;
    height: 100vh;
    background: url("../images/intro.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.innerIntro{
    min-height: 100%;
    min-width: 100%;
    background: rgba(33,33,33,0.8);
    padding: 0px !important;
    margin: 0 auto; 
    bottom: 0px;
}
.navbar{
    background: transparent !important;
}
.introContent{
    margin-top: 20%;
}
.gallery{
    margin: 10px 50px;
}
.gallery img{
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}
.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}
.image{
    width: 100%;
    height: auto;
    background-color: #616161;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    padding: 0px !important;
    margin: 0 auto; 
    bottom: 0px;
}
.overlay{
    min-height: 100%;
    min-width: 100%;
    background: rgba(33,33,33,0.5);
    padding: 0px !important;
    margin: 0 auto;
}
.projects1{
    background-image: url('../images/back.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    padding: 0px !important;
    margin: 0 auto; 
    bottom: 0px;
}
.artymys{
    min-height: 100%;
    min-width: 100%;
    background: rgba(21,101,192,0.8);
    padding: 0px !important;
    margin: 0 auto;
}
.notepad3{
    min-height: 100%;
    min-width: 100%;
    background: rgba(255,87,34,0.8);
    padding: 0px !important;
    margin: 0 auto;
}
.offlinewikia{
    min-height: 100%;
    min-width: 100%;
    background: rgba(198,191,53,0.8);
    padding: 0px !important;
    margin: 0 auto;
}
.apod{
    min-height: 100%;
    min-width: 100%;
    background: rgba(68,80,112,0.8);
    padding: 0px !important;
    margin: 0 auto;
}
td{
    padding: 15px;
}