html,body{
    height: 100%;
    margin:0;
    padding:0;
}
.back{
	width: 100%;
	min-height: 100%;
    margin: 0 auto; 
    padding: 0!important;
    bottom: 0px;
    background-color: #F6F6F6;
}
.sideBar{
	width: 170px; 
	float: left; 
}
.sideRightBar{
	padding: 0;
}
.insideRightBar{
	background-color: #FFFFFF;
	padding: 15px;
	margin-left: 170px;
	margin-right: 0;
	border-left: solid;
	border-left-width: 1px;
	border-left-color: #536DFE;
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #536DFE;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #536DFE;
}
.bottomCont{
	margin-left: 170px;
	margin-right: 0;
}
.sideInfo{
	border: solid;
	border-width: 1px;
	border-color: #636363;
	background-color: #F8F9FA;
}
p{
	line-height: 25px;
}
table{
	width: 100%;
	margin-left: 5px; 
}
tr,td,th{
	text-align: left;
}
.card{
	box-shadow: 2px 2px 2px #E0E0E0;
	background-color: #F5F5F5;
	padding: 10px;
}
.bar{
	min-height: 30px; 
}
.yes{
	background-color: #42A5F5;
	min-height: 30px;
	float: left;
	padding: 0;
}
.no{
	background-color: #0097A7;
	min-height: 30px;
	padding: 0;
}
.topBar{
	padding: 0;
}
.navbar{
	background-color: #E0E0E0 !important;
	height: 70px;
}
.topBar{
	display: none;
}
.gallery{
	margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 210px;
    background-color: #F6F6F6;
}
.gallery img{
	width: 100%;
}
.desc {
    padding: 5px;
    text-align: center;
}